<div class="container">
  <div class="page-header">
    <h1>Welcome to our GDS Admin Template Bootstrap</h1>
  </div>

  <p class="lead">This is a bootstrap project for rapid experimentation on Express using the GDS Admin Template</p>
</div>
